@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-main {
}
body {
  font-family: "Source Code Pro Variable", monospace;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;

  /* Begin The Redundancies */
  background-image: -webkit-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -webkit-linear-gradient(rgba(57, 57, 85, 0.21) 1px, transparent 0);
  background-image: -moz-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -moz-linear-gradient(rgba(57, 57, 85, 0.21) 1px, transparent 0);
  background-image: -o-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -o-linear-gradient(rgba(57, 57, 85, 0.21) 1px, transparent 0);
  background-image: -ms-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -ms-linear-gradient(rgba(57, 57, 85, 0.21) 1px, transparent 0);
  -webkit-background-size: 100% 2em;
  -moz-background-size: 100% 2em;

  /* In a perfect world... */
  background-image: linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    linear-gradient(rgba(57, 57, 85, 0.21) 1px, transparent 0);
  background-size: 100% 2em;
}
.noto-jp {
  font-family: "Noto Sans JP Variable", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.wrong-selection {
  animation: shake 0.4s alternate, blink-red 0.5s;
}

@keyframes blink-red {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}
